<div id="profile" ng-app="myApp" ng-controller="ProfileController as pc">

<div id="<%= user._id %>" class="row">
  <h1><%= user.local.name %></h1>



  <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="gridModalLabel">Submit Achievement</h2>
        </div>
        <div class="modal-body">
          <div class="container-fluid bd-example-row">
            <div id="no-way" class="">
              <form class="" action="/users/<%= user._id %>/achievements" method="post">
              <span class="help-block">Year:</span>
              <input class="achievement form-control" name="year" />
              <br />
              <span class="help-block">Title:</span>
              <input class="achievement form-control" name="title" />
              <br />
              <span class="help-block">Description:</span>
              <textarea class="achievement form-control" name="description" rows="7"></textarea><br>
                <input class="btn btn-success" type="submit" name="submit" value="Post Achievements">
              </form>
              <br />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-4">
    <div class="wbg">

      <h3>Profile</h3>
      <hr>
      <%# Photo upload goes here %>
      <div class="user-avatar-container">
        <img id="user-avatar" class="user-avatar" ng-src="{{ pc.currentUser.avatar }}">
        <input type="file" id="file-input">
      </div>

      <div class="user-profile-container">
        <p><strong>Email</strong>: {{ pc.currentUser.local.email }}</p>
        <p><strong>School</strong>: {{ pc.currentUser.local.school }}</p>
        <p><strong>Joined</strong>: {{ pc.currentUser.createdAt }}</p>
      </div>

      <a href="/logout" class="btn btn-default btn-sm">Logout</a>

    </div>
  </div>

  <div class="col-md-4">
    <div class="wbg">
      <h3>Messages</h3>
      <hr>
      <div class="">
        <div class="messages" ng-if="thread.active" ng-repeat="thread in pc.currentUser.messageThreads">
          <div class="avatar">
            <span ng-hide="pc.currentUser._id == thread.users[0]._id">{{ thread.users[0].local.name[0] }}</span>
            <span ng-hide="pc.currentUser._id == thread.users[1]._id">{{ thread.users[1].local.name[0] }}</span>
          </div>
          <div class="message">
            <p ng-hide="pc.currentUser._id == thread.users[0]._id" class="sender"> {{ thread.users[0].local.name }} </p>
            <p ng-hide="pc.currentUser._id == thread.users[1]._id" class="sender"> {{ thread.users[1].local.name }} </p>
            <p class="peek" ng-show="thread.messages[thread.messages.length - 1]">{{ thread.messages[thread.messages.length - 1].content }}</p>
            <p class="peek" ng-hide="thread.messages[thread.messages.length - 1]">Say hello</p>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-4">
    <div class="wbg">
      <button type="button" class="btn-icon btn-new-achievement" data-toggle="modal" data-target="#gridSystemModal">
        <i class="fa fa-plus-circle"></i>
      </button>
      <h3>Achievement</h3>
      <hr>
      <div class="achievements">
        <div id="{{ achievements._id }}" class="achievement" ng-if="achievement.active" ng-repeat="achievement in pc.currentUser.achievements">

          <small>{{ achievement.year }}</small>
          <h4>{{ achievement.title }}</h4>
          <p>{{ achievement.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript">
  angular.module('myApp', [])
  .controller('ProfileController', ProfileController)

  ProfileController.$inject = ['$http'];

  function ProfileController($http){
    var vm = this;
    // Request user details
    $http.get('/api/users/<%= currentUser._id %>')
    .then(function(data){
      console.log(data);
      vm.currentUser = data.data.user;
    })
  }

  $('.btn-delete-achievement').on('click', function(evt){
    evt.preventDefault();
    console.log($(this).parent().attr('id'));
    var userId = '<%= user._id %>';
    var commentId = $(this).parent().attr('id');
    $.ajax({
      method: 'delete',
      url: '/users/' + userId + '/achievements/' + commentId + '?_method=delete'
    }).done(function(data){
      console.log(data);
      $('#' + data._id).remove();
    });
  });

  (function(){
    $('#file-input').change(function(){
      const files = $('#file-input').prop('files');
      const file = files[0];
      if(file == null){
        return alert('No file selected.');
      }
      // console.log(file);
      getSignedRequest(file);
    })
  })();

  function getSignedRequest(file){
    // console.log(file);
    $.ajax({
      method: 'get',
      url: '/api/users/sign-s3?file-name=' + file.name + '&file-type=' + file.type
    }).done(function(data){
      // console.log(data);
      const response = JSON.parse(data);
      // console.log(response);
      uploadFile(file, response.signedData, response.url);
    })
  }

  function uploadFile(file, signedRequest, url){
    // console.log(file);
    // console.log(signedRequest);
    // console.log(url);
    const xhr = new XMLHttpRequest();
    xhr.open('PUT', signedRequest);
    xhr.onreadystatechange = function() {
      if(xhr.readyState === 4){
        if(xhr.status === 200){
          // Send update request
          $.ajax({
            method: 'patch',
            url: '/api/users/<%= currentUser._id %>',
            contentType: 'application/json',
            data: JSON.stringify({avatar: url})
          }).done(function(data){
            document.getElementById('user-avatar').src = url;
            // document.getElementById('avatar-url').value = url;
          })
        }
        else{
          alert('Could not upload file.');
        }
      }
    };
    xhr.send(file);
  }
</script>
